# This is a configuration file for Modbus/RTU RS485 command definition
# usually, this table is valid for >90% of all modbus devices
# usually, this table contains also some values which your modbus devices don't use or understand
;
; Format of this file is:
; Function Code <comma> Function short name <comma> Address Space <comma> Maximum # of coils / registers <comma> optionally descriptive Text
; <comma> is the ',' sign.
; Semicolon and Hash (;#) at 1st column are comment lines
; all numbers in 1234 decimal, 0765 octal or 0xabcd1234 hexadecimal format
; do not use comma in freeform text, except int the last entry (Description)
; Description and the comma before can get omitted
; Address Space here reflects the original Modicon Adress space, recently all adresses might be use for ony command (depending on client)
;
; A coil could best be imagined as an electromechanical relay, setting to 1 is powering it on, pulling the trigger switch
; ... and reading it could be imagined as the status of an electromechanical switch, reporting 1 on closed and 0 on opened
; A Holding Register could best be imagined as a latch, holding the digital value for a D/A converters analogue output value
; A Input Register could best be imagined as a latch, holding or right-now-getting the digital value from an A/D converters analogue input value
;
# simplest entry examples:
# 1,Read_Coil,2000, Read the Status of 1..nnnn 1-bit-coils at once
# 3,Read_Register,125, Read the Status of 1..nn 16-bit registers at once
#
1,Read_Coil_Status,2000,1-9999,Read Coil(s) ON/OFF Status
2,Read_Input_Status,2000,10001-19999,Read discrete Input(s) ON/OFF Status
3,Read_Holding_Register,125,30001-39999,Read analog Output Holding Registers(s)
4,Read_Input_Register,125,40001-49999,Read analog Input Register(s)
5,Set_Single_Coil,1,1-9999,Force setting Single Coil to new value (ON/OFF)
6,Write_Register,1,30001-39999,Force setting Single analog output Register to new value
7,Read_Exception,1,0-0,Read Exception Status, only roughly implemented
8,Diagnostic,1,0-0,Diagnostic, sub-commands 00-18+20, only roughly implemented
# -gap
0x0B,Get_ComEvt_Counter,0,0-0,not implemented yet
0x0C,Get_Com Event_Log,0,0-0,not implemented yet
0x0D,INVALID_13,0,0-0,unused command / wrong read
0x0E,INVALID_14,0,0-0,unused command / wrong read
0x0F,Set_Multi_Coil,800,1-9999,Force setting Multiple Coils to new values (ON/OFF)
0x10,Set_Multi_Register,100,30001-39999,Force preset Multiple Registers to new values
0x11,Report_Server_ID,0,0-0,not implemented yet
# -gap
0x14,Read_FileRec,0,0-0,not implemented yet
0x15,Write_FileRec,0,0-0,not implemented yet
0x16,Mask_WriteReg,0,0-0,not implemented yet
0x17,R/W_MultiReg,0,0-0,not implemented yet
0x18,Read_FIFO_queue,0,0-0,not implemented yet
# -gap
0x2B,Read_Device-ID,0,0-0,Code14 - not implemented yet
#0x2B,CAN/Encapsulated,0,0-0,Code13,14 - not implemented yet Encapsulated Interface Transport
# -end of list-
